/*header styling*/
.logo {
	display: inline-block;
	margin: 18px 92px 17px 20px;
	font-size: 13px;
	color: #FA6980;
}
.navigation {
	display: inline-block;
	font-size: 11px;
}
.menu {
	display: inline-block;
	margin-right: ;
}
.acount-image {
	display: inline-block;
}
.home {
	margin-right: 20px;
}
.discovery {
	margin-right: 22px;
}
.photos {
	margin-right: 22px;
}
.contact {
	margin-right: 40px;
}
.main {
	font-weight: bold;
}
.header {
	
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 10;
    font-family: 'Helvetica';
}
/*section 1 styling*/
.section1 {
	margin-right: auto;
	margin-left: auto;
	width: 1160px;
}
.maindiv1 {

}
.first-title {
    margin-top: 80px;
	margin-bottom: 40px;
	font-family: 'Helvetica';
	font-size: 24px;
	font-weight: bold;
}
.box1 {
	display: inline-block;
	margin-right: 10px;
	width: 360px;
	vertical-align: top;
}
.box2 {
	display: inline-block;
	margin-right: 10px;
	width: 360px;
	vertical-align: top;
}
.box3 {
	display: inline-block;
	margin-right: 10px;
	width: 360px;
	vertical-align: top;
}
.par {
	margin-bottom: 10px;
	padding-top: 66px;
	padding-left: 40px;
	padding-bottom: 8px;
	font-family: 'Acumin Pro';
	font-size: 13px;
	font-weight: normal;
	width: 280px;
}

.imagetext {
	position: relative;
	display: inline-block;
	
}
.title {
	position: absolute;
	top: 28px;
	left: 40px;
	font-family: 'Helvetica';
	font-size: 16px;
	font-weight: bold;
	color: white;
}
.timeIcon {
	margin-left: 40px;
	vertical-align: middle;
}
.timing {
	font-size: 13px;
	vertical-align: middle;
}


/*section2 styling*/
.section2 {
	margin-right: auto;
	margin-left: auto;
	width: 1160px;
	margin-top: 58px;
}
.left {
	display: inline-block;
	width: 760px;
	height: 900px;
	vertical-align: top;
	margin-right: 20px;
}
.right {
	display: inline-block;
	width: 360px;
	height: 896px;
	vertical-align: top;
}
.second-title {
	margin-bottom: 40px;
	font-family: 'Helvetica';
	font-size: 24px;
	font-weight: bold;
}
.ImageWithPhrase {
	position: relative;
	margin-bottom: 40px;
}
.phraseOnImage {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%);
	font-family: 'Helvetica';
	font-size: 16px;
	font-weight: bold;
	color: white;
}
.imageNature{
	margin-bottom: 102px;
}